*{
    margin: 0;
    padding: 0;
    font-family: monospace,sans-serif;
}
.container{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 10%;
    left: 40%;
    text-align: center;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    
}
.input_title{
    background: none;
    margin : 20px auto 5px auto ;
    border: 1px solid gray;
    padding: 10px 8px;
    width: 200px;
    outline: none;
    border-radius: 10px;
}
.input_body{
    background: none;
    margin : 5px auto;
    border: 1px solid gray;
    padding: 10px 8px;
    width: 200px;
    height: 100px;
    outline: none;
    border-radius: 10px;
}

.submit_btn{
    background: #343434;
    color: #e0e0e0;
    margin : 20px 50px;
    text-align: center;
    padding: 10px 8px;
    width: 200px;
    outline: none;
    border-radius: 10px;
}
.submit_btn:hover{
    /*font-weight: 600;*/
    border-color: white;
    background-color: black;
    cursor: pointer;
}
.submit_btn:focus{
    /*font-weight: 600;*/
    border-color: white;
    background-color: black;
    cursor: pointer;
}
.successful{
    color: green;
    background: #ECFFDC;
    margin : 5px auto 5px auto ;
    border: 1px solid green;
    padding: 10px 8px;
    width: 200px;
    outline: none;
    border-radius: 10px;
    transition:.3s;
    animation: buttons .3s linear;
    display: none;
    position:relative;
}
.danger{
    color: red;
    background: #FAA0A0;
    margin : 5px auto 5px auto ;
    border: 1px solid red;
    padding: 10px 8px;
    width: 200px;
    outline: none;
    border-radius: 10px;
    /*transition: .3s;
    animation: buttons .3s linear;*/
    display: none;
    position:relative;
}
/*@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}*/